.root {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--black-100);
  background-image: linear-gradient(to bottom right, var(--white-100) 50%, var(--orange-5) 50%);
}

.gameTitle {
  font-size: 6vmin;
  font-weight: var(--font-weight-600);
  margin-top: 0;
  margin-bottom: 6vmin;
}

.logo {
  height: 40vmin;
}

@media only screen and (max-width: 1024px) {
  .root {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }

  .logo {
    padding-top: 20vmin;
    height: 50vmin;
  }

  .gameTitle {
    font-size: 10vmin;
    text-align: center;
  }
}
