.root {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

.wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16vh 6vw 10vh;
}

.sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 30vw;
  background: var(--white-100);
  padding: 16vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  font-weight: var(--font-weight-600);
  color: var(--black-100);
  font-size: 4vmin;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100vw;
    padding: 0 0 0;
    text-align: center;
  }

  .sidebar {
    width: 100vw;
    padding: 0 0 4vh 0;
    background: var(--black-5);
    > button {
      padding-bottom: 4vh;
    }
  }

  .question {
    padding: 0 4vmin;
    font-size: 6vmin;
    margin-bottom: 4vh;
  }

  .showWrapper {
    display: flex;
  }

  .hideWrapper {
    display: none;
  }

  .showSidebar {
    display: flex;
  }

  .hideSidebar {
    display: none;
  }
}